<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article Analysis Nlp</title>
</head>
<body>
  <h1>Article Analysis</h1>
    <input type="text" id='input'>
    <button id='btn'>Enter Url</button>
    <img src="../images/analyze2.png" alt="">
    <table>
      <tr>
        <th>Subjectivity</th>
        <th>Agreement</th>
        <th>Irony</th>
        <th>Confidence</th>
      </tr>
      <tr>
        <td id ='subjectivity'>-</td>
        <td id ='agreement'>-</td>
        <td id ='irony'>-</td>
        <td id ='confidence'>-</td>
      </tr>
    </table>

</body>
</html>