button{
  display: block;
  padding:10px;
  font-size:20px;
  font-family:monospace;
  color:#444;
  background-color: rgba(243, 97, 53, 0.418);
  border:3px solid rgba(68, 68, 68, 0.801);
  border-radius: 20px;
  margin:auto;
  margin-top:50px;
  &:hover{
    padding:12px;
    background-color: rgba(218, 221, 48, 0.418);
  }
  &:active{
    border-bottom:5px solid rgba(68, 68, 68, 0.801);
    border-top:1px solid rgba(68, 68, 68, 0.801);
  }
}