input{
  display: block;
  height: 30px;
  background-color: rgba(231, 227, 192, 0.486);
  font-size: 20px;
  text-align: center;
  color:#333;
  width: 600px;
  border-radius: 10px;
  border:3px solid #555;
  margin:auto;
  outline: none;
}